.navbar-container {
    width: 100%;
    // margin: 0 auto;
    background-color: rgb(49, 49, 49);
    // display: inline-flex;
    // clear: both;
    font-size: 14px;
    font-weight: 100;
    z-index: 10;
    position: fixed;
    // justify-content: center;
    font-size: 13px;
    overflow: hidden;
    top: 0;
    align-items: center;
    height: 46px;
    // display: flex;
    // justify-content: space-between;
}

.boom-logo-nav {
    float: left;
    display: flex;
    background-color: #FF5500;
    padding: 12px 0;
    width: 44px;
    height: 22px;
    padding: 10px, 0;
    position: fixed;
    // margin-right: 5000px;
    // overflow: hidden;
    margin-top: -6px;

}

nav {
    display: flex;
    // float: right;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    
}

nav li {
    line-height: 34px;
    color: #e5e5e5;
    float: left;;
    // margin-right: 20px;
    text-align: center;
    display: flex;
    // position: fixed;
    // overflow: hidden;
}

.nav-left {
    display: block;
    float: left;
}

.nav-left li {
    padding: 6px 30px 6px 0;
    border-right: 1pt solid black;
    margin-left: 30px;
    display: block;
    // flex-direction: row;
}

.nav-right {
    display: block;
    float: right;
}
.nav-right li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding: 6px 20px 6px 0;
    display: block;
    // flex-direction: row;
}

nav a {
    text-decoration: none;
    
}

nav a:hover {
    cursor: pointer;
}

.nav-search {
    background: #e5e5e5;
    border-radius: 3px;
    color: #666;
    text-align: left;
    padding: 0 350px 0 3px;
    margin: 5px 20px 0 20px;
    // position: fixed;
    // overflow: hidden;
}


// .navbar {
//     background-color: #333;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     position: fixed;
//     // z-index: -1;
//     text-align: center;
//     width: 100%;
//     border-right: 1px solid #111;
//     box-sizing: border-box;
//     height: 46px;
    
// }

// .h2-boom {
//     color: black;
//     background-color: coral;
//     display: flex;
//     padding: 12px 0;
//     width: 44px;
//     justify-content: center;
//     z-index: -1;
//     position: relative;
// }

// .boom-logo-nav {
//     position: relative;
// }

// .nav-search {
//     padding: 9px 10px 8px;
//     position: relative;
//     display: block;
//     border-radius: 13px;
// }


// .logout-nav {
//     display: flex;
//     justify-content: right;
//     /* align-items: flex-end; */
//     height: 50px;
//     border: black solid;
//     border: 0px;
//     z-index: -1;
// }


// .nav-links {
//     color: #CCCCCC;
//     opacity: 86%;
//     font-size: 14px;
//     padding: 12px 0;
//     width: 104px;
//     justify-content: center;
//     border-right: solid black 1pt;
// }


// .nav-links:hover {
//     color: whitesmoke;
//     cursor: pointer;
// } 
