.navbar-container {
    width: 100%;
    background-color: rgb(49, 49, 49);
    font-weight: lighter;
    z-index: 10;
    position: fixed;
    font-size: 13px;
    overflow: hidden;
    top: 0;
    align-items: center;
    height: 46px;
    padding: 0 200px 0 200px;
}

.boom-logo-nav {
    float: left;
    display: flex;
    background-color: #FF5500;
    padding: 12px 0;
    width: 44px;
    height: 22px;
    padding: 10px, 0;
    position: fixed;
    // margin-right: 5000px;
    // overflow: hidden;
    margin-top: -6px;

}

nav {
    display: flex;
    // float: right;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    
}

nav li {
    line-height: 34px;
    color: #e5e5e5;
    float: left;;
    // margin-right: 20px;
    text-align: center;
    display: flex;
    // position: fixed;
    // overflow: hidden;
}

.nav-left {
    display: block;
    float: left;
}

.nav-left li {
    padding: 6px 30px 6px 0;
    border-right: 1pt solid black;
    margin-left: 30px;
    display: block;
    // flex-direction: row;
}

.nav-right {
    display: block;
    float: right;
}
.nav-right li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding: 6px 20px 6px 0;
    display: block;
    // flex-direction: row;
}

.profile-nav-img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

nav a {
    text-decoration: none;
    
}

nav a:hover {
    cursor: pointer;
}

.nav-search {
    background: #e5e5e5;
    border-radius: 3px;
    color: #666;
    text-align: left;
    padding: 0 350px 0 3px;
    margin: 5px 20px 0 20px;
    // position: fixed;
    // overflow: hidden;
}
