.playbar-container {
    width: 100%;
    border-top: solid 1pt rgb(194, 191, 191);
    background-color: rgb(241, 241, 241);
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 15px 10% 15px 10%;
}

.playbar-sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
}

.playbar-left-buttons {
    float: left;
    display: flex;
    flex-direction: row;
}

.playbar-right-buttons {
    float: right;
    // display: flex;
    // flex-direction: row;
}