.splash-container {
    justify-content: center;
    align-items: center;
}

.splash-nav {
    display: block;
    // flex-direction: row;
    justify-content: space-between;
    // z-index: 10;
    position: relative;
    align-items: center;
    width: 100%;
    // margin-left: 25px;
    margin-right: 25px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    height: 450px;
    background-image: url(https://a-v2.sndcdn.com/assets/images/hp_image_creator_slide-db400e2f.jpg);
    border-top: #FF5500 4px solid;
    font-size: 13px;
    font-weight: 100;
}

.boom-logo-splash {
    color: #fff;
    display: flex;
    padding: 12px 0;
    width: 70px;
    justify-content: space-between;
    z-index: -1;
    position: relative;
    height: 40px;
    // float: left;
    // flex-direction: row;
}

.boom-text {
    display: flex;
    // position: relative;
    color: #fff;
    font-size: 20px;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 14px;
    z-index: -1;
    float: left;
    width: 15%;
}

.right-session-buttons {
    padding: 9px 10px 8px;
    // position: absolute;
    display: block;
    color: #fff;
    top: 8px;
    right: 30px;
    justify-content: space-between;
    float: right;
}

.right-session-buttons:hover {
    cursor: pointer;
}

.signin-button {
    padding: 2px 15px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 26px;
}

.create-account-button {
    padding: 2px 15px;
    color: #fff;
    background: #FF5500;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 10px;
    line-height: 26px;
}

.for-creators-button {
    padding: 2px 15px;
    color: #fff;
    background: transparent;
}

.top-image-text {
    text-align: center;
    // display: flex;
    // justify-content: last baseline;
    font-size: 36px;
    color: #ffffff;
    margin-top: 144px;
    margin-bottom: 5px;
    opacity: 90%;
}

.top-image-subtext {
    color: #ffffff;
    text-align: center;
    width: 50%;
    position: relative;
    justify-content: center;
    font-size: 18px;
    line-height: 28px;
    opacity: 90%;
    margin-left: 277px;
}

.start-uploading-button {
    background-color: #FF5500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    // line-height: 20px;
    border-radius: 3px;
    padding: 15px 15px 15px 15px; 
    font-size: 18px;
    margin-left: 435px;
    margin-top: 23px;
}

.splash-search-input {
    background: #e5e5e5;
    border-radius: 3px;
    color: #666;
    text-align: left;
    line-height: 50px;
    width: 40%;
    padding: 0 72px 0 15px;
    margin: 47px 20px 20px 172px;
}

.upload-own-button {
    background-color: #FF5500;
    color: white;
    display: inline-flex;
    // align-items: center;
    // justify-content: center;
    // line-height: 20px;
    border-radius: 3px;
    padding: 14px 15px 14px 15px; 
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
}

.trending-text {
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.explore-trending-button {
    background-color: #FF5500;
    color: white;
    display: flex;
    border-radius: 3px;
    padding: 14px 15px 14px 15px; 
    font-size: 18px;
    margin-left: 430px;
    margin-top: 30px;
    align-items: center;
}

.mobile-container {
    background-image: url(https://a-v2.sndcdn.com/assets/images/never_stop_listening@1x-9c5264ff.jpg);
    width: 65%;
    height: 380px;
    margin: 50px 0 0 50px
    
}

.footer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    padding: 10px 15px 70px 30px;
    // margin-left: 10px;
    font-size: 13px;
    color: #CCCCCC;
    border-top: solid 1pt #CCCCCC;
    width: 80%;
    li {
        margin-left: 5px;
    }

}

.footer-links:hover {
    cursor: pointer;
}


// .logout-nav {
//     display: flex;
//     justify-content: right;
//     /* align-items: flex-end; */
//     height: 50px;
//     border: black solid;
//     border: 0px;
// }


// .nav-links {
//     color: #CCCCCC;
//     opacity: 86%;
//     font-size: 14px;
//     padding: 12px 0;
//     width: 104px;
//     justify-content: center;
//     border-right: solid black 1pt;
// }


// .nav-links:hover {
//     color: whitesmoke;
//     cursor: pointer;
// } 
