.splash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // z-index: -1;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    height: 600px;
    background-image: url(https://a-v2.sndcdn.com/assets/images/hp_image_creator_slide-db400e2f.jpg);
    border-top: coral 5px solid;
    
}

.boom-logo-splash {
    color: black;
    display: flex;
    padding: 12px 0;
    width: 70px;
    justify-content: center;
    z-index: -1;
    position: relative;
    height: 10px;
    // float: left;
    // flex-direction: row;
}

.boom-text {
    position: relative;
    color: whitesmoke;
    justify-content: center;
    margin-right: 15px;
}

.right-session-buttons {
    padding: 9px 10px 8px;
    position: relative;
    display: block;
    color: whitesmoke;
}

.right-session-buttons:hover {
    cursor: pointer;
}

.signin-button {
    border: 1px solid coral;
    box-sizing: border-box;
    color: coral;
    background: transparent;
}

.create-account-button {
    color: whitesmoke;
    background: coral;
}



// .logout-nav {
//     display: flex;
//     justify-content: right;
//     /* align-items: flex-end; */
//     height: 50px;
//     border: black solid;
//     border: 0px;
// }


// .nav-links {
//     color: #CCCCCC;
//     opacity: 86%;
//     font-size: 14px;
//     padding: 12px 0;
//     width: 104px;
//     justify-content: center;
//     border-right: solid black 1pt;
// }


// .nav-links:hover {
//     color: whitesmoke;
//     cursor: pointer;
// } 
