.track-show-container {
    background-color: rgb(241, 241, 241);
    height: 100%;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.track-show-subcontainer {
    background-color: white;
    width: 90%;
    align-items: center;
    margin: 0 50px 0 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.track-header-container {
    padding-top: 60px;
    background-image: linear-gradient(rgb(148, 108, 82), rgb(36, 36, 36));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-artwork {
    width: 370px;
    height: 370px;
    display: flex;
    float: right;
    padding: 0 0 20px 43%;
}

.top-left-ts {
    display: flex;
    flex-direction: row;
    margin-bottom: 26%;
    float: left;
    justify-content: start;
}

.track-text-show-container {
    // width: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.track-artist-show {
    background-color: rgb(24, 24, 24);
    color: ghostwhite;
    font-size: 16px;
    // width: auto;
    padding: 4px 4px 4px 4px;
    text-align: left;
    margin: 0 68% 10px 0;
}

.track-title-show {
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 22px;
    text-align: center;
    display: block;
    width: auto;
    padding: 4px 4px 4px 4px;
}

.track-header-play-icon {
  color: #f50;
  font-size: 60px;
  margin: 0 15px 0 30px;
}